.about {
  column-gap: calc(var(--default--padding) / 2);
  @media (max-width: 900px) and (min-width: 600px) {
    margin: 0 2rem;
  }
  @media (max-width: 600px) {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  &__image {
    max-width: 100%;
    @media (max-width: 600px) {
      order: -1;
    }
  }
  &__stat {
    display: flex;
    width: 80%;
    justify-content: space-between;
    grid-column: span 2;
    justify-self: center;
    background-color: var(--color-white);
    padding: 7rem 8rem;
    margin-top: 10rem;
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.16);
    @media (max-width: 900px) and (min-width: 600px) {
      padding: 5rem 3rem;
    }
    @media (max-width: 650px) {
      flex-direction: column;
      width: 50%;
      gap: 3rem;
      justify-content: center;
      padding: 3rem 2rem;
      margin-top: 3rem;
    }
    &__data {
      display: flex;
      gap: var(--gutter);
      align-items: center;
      @media (max-width: 500px) {
        gap: 2rem;
      }

      &:nth-of-type(2) {
        border-left: 2px solid #eeeff2;
        border-right: 2px solid #eeeff2;
        @media (min-width: 650px) {
          border: 0;
        }
      }
      &-value-num {
        font-weight: 700;
        font-size: 2.5rem;
        color: var(--color-font-heading);
      }
      &-value-word {
        font-size: 2rem;
        font-weight: 400;
        @media (max-width: 500px) {
          font-size: 1.6rem;
        }
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--gutter);
    &__desc {
      font-weight: 400;
    }
    @media (max-width: 600px) {
      grid-column: span 2;
    }
  }
}
.about .button {
  align-self: center;
  width: 100%;
}
