.pricing__plans {
  display: flex;
  justify-content: space-around;
}
.plan {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-direction: column;
  border-radius: 1rem;
  border: 2px solid #dddddd;
  width: 30%;
  height: 76rem;
  &__image {
    width: 15rem;
    height: 16.5rem;
  }
  &__lists {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: 3rem;
    flex-grow: 1;
    &-list {
      background: url("../images/priv-list.svg") no-repeat;
      background-position: left center;
      padding-left: 3rem;
    }
  }
  & .button-secondary {
    padding-left: 6.3rem;
    padding-right: 6.3rem;
    margin-bottom: 5rem;
  }
}
.current {
  border-color: var(--color-light-red);
}
.global_map {
  max-width: 100%;
}
.sponsers {
  display: flex;
  justify-content: space-around;
  &__image {
    max-width: 20%;
  }
}
