:root {
  --color-default-font: #4f5665;
  --color-font-heading: #0b132a;
  --color-white: #fff;
  --color-light-red: #f53838;
  --color-very-light-red: #ffecec;
  --color--light-grey: #f8f8f8;
  --container-width: 114rem;
  --default--padding: 8rem;
  --transition-timing: 0.3s;
  --border-raduis: 5rem;
  --gutter: 4rem;
  --default-font-size: 1.6rem;
  --box-shadow: 0 3rem 3rem rgba(245, 56, 56, 0.35);
}
